<% @groups.each do |group| %>
  <div class="groups">
    <div class="content">
      <div class="smallArea">
        <span><%= link_to group.name+"グループ", group_path(group) %></span>
      </div>
        <span class="largeArea">グループの目的 : <%= group.introduction %>
        <div class="otherfield">その他 : <%= group.other %></div>
        </span>
      </div>
    </div>
  </div>
<% end %>